@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}




.bpcscore input[type=radio] {
    border: 0px;
    width: 20%;
    height: 2em; 
}

.bpcscore h1 {
    text-align: center;
    width: 100%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    
}

.box {
    padding: 40px;  
}

.line {
    border-bottom: 1px solid purple;
    padding: 10px;
    
}

.box input {
    padding: 10px;
}








