.bpcscore input[type=radio] {
    border: 0px;
    width: 20%;
    height: 2em;
    
    
}



.title {
    text-align: center;
    position: relative;
    left: 30px;
    
}
.bpcscore h1 {
    text-align: center;
}


.box h2 {
    text-align: center;
    line-height: 1.8;
    

}



.box {
    padding: 40px;
      
}

.line {
    border-bottom: 1px solid purple;
    
}

.label {
    padding: 0 0 0 2rem;
    position:relative;
}

input[type=radio] {
    left: 0.5rem;
    top: 0.2rem;
    
}






